@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <span>Silicon Tally</span><br />
    Tallahassee, FL.
</address>

<address>
    <strong>Twitter:</strong> <a target="_blank" href="https://twitter.com/robsmitha">@@rob.smitha</a><br />
    <strong>GitHub:</strong> <a target="_blank" href="https://github.com/robsmitha">@@rob.smitha</a><br />
</address>
